{{ $class := .Attributes.class | default ""    }}
{{ $lang  := .Attributes.lang  | default .Type }}
{{ if transform.CanHighlight $lang }}
<details data-level="4" class='code' open>
    <summary class="ripple"><h4 class="lang code-up">#+BEGIN_SRC {{ $lang }}</h4></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
    {{ highlight .Inner $lang }}
    </div>
    <h4 class="lang code-bottom">#+END_SRC</h4>
</details>
{{else}}
<details data-level="4" class='code' open>
    <summary class="ripple"><h4 class="code-up">#+BEGIN_SRC {{ $lang }}</h4></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
        <div class="highlight">
            <pre class="chroma">
                <code class="language-plaintext">{{.Inner}}</code>
            </pre>
        </div>
    </div>
    <h4 class="lang code-bottom">#+END_SRC</h4>
</details>
{{end}}
