{{ $class := .Attributes.class | default ""    }}
{{ $lang  := .Attributes.lang  | default .Type }}
{{ if transform.CanHighlight $lang }}
<details class='code' open>
    <summary><span class="code-up">{{ $lang }}</span></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
    {{ highlight .Inner $lang }}
    <span class="code-bottom">&nbsp;{{ $lang }}</span>
    </div>
</details>
{{else}}
<details class='code' open>
    <summary><span class="code-up">{{ $lang }}</span></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
        <div class="highlight">
            <pre class="chroma">
                <code class="language-plaintext">{{.Inner}}</code>
            </pre>
        </div>
    <span class="code-bottom">&nbsp;{{ $lang }}</span>
    </div>
</details>
{{end}}
