{{ $class := .Attributes.class | default ""    }}
{{ $lang  := .Attributes.lang  | default .Type }}
{{ if transform.CanHighlight $lang }}
<details data-level="4" class='code' open>
    <summary class="ripple"><h4 class="lang code-up">#+BEGIN_SRC {{ $lang }}</h4></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
		<path class="copy-path" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/>
		<path class="copy-path" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/>
	    </svg>
	</button>
    </div>
    <div class="org-src-container">
    {{ highlight (trim .Inner " \n") $lang }}
    </div>
    <h4 class="lang code-bottom">#+END_SRC</h4>
</details>
{{else}}
<details data-level="4" class='code' open>
    <summary class="ripple"><h4 class="code-up">#+BEGIN_SRC {{ $lang }}</h4></summary>
    <div class='gutter'>
        <button title='Copy to clipboard' onclick='copyPreToClipbord(this)'>⎘</button>
    </div>
    <div class="org-src-container">
        <div class="highlight">
            <pre class="chroma">
                <code class="language-plaintext">{{.Inner}}</code>
            </pre>
        </div>
    </div>
    <h4 class="lang code-bottom">#+END_SRC</h4>
</details>
{{end}}
