{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>

{{ $paragraphs := split .Content "<h2 " }}

{{ range $index, $p := $paragraphs }}
    {{ $pp := trim $p " \n" }}
    {{ if (eq $index 0) }}
        {{ printf "%s\n" $pp | safeHTML }}
    {{ end }}
    {{ if and (ne $pp "") (gt $index 0) }}
    <details class="expand">
        {{ $parts := split $pp "</h2>"}}
        <summary>
        {{ printf "<h2 %s</h2>\n" (index $parts 0) | safeHTML }}</summary>
        <div class="highlight">
            {{ printf "%s\n" (index $parts 1) | safeHTML }}
        </div>
    </details>
    {{ end }}
{{end}}

<!-- {{ .Content }} -->

<aside>
    {{ .TableOfContents }}
</aside>

{{ end }}

