{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>

<style>
    summary::before {
        content: "";
    }
    summary + h2 {
        display: inline;
    }
    details summary h2::after {
        content: "...";
    }
    details[open] summary h2::after {
        content: "";
    }
</style>

{{ $paragraphs := split .Content "<h2 " }}

{{ range $index, $p := $paragraphs }}
    {{ $pp := trim $p " \n" }}
    {{ if (eq $index 0) }}
        {{ printf "%s\n" $pp | safeHTML }}
    {{ end }}
    {{ if and (ne $pp "") (gt $index 0) }}
    <details class="boxtext">
        {{ $parts := split $pp "</h2>"}}
        <summary>
        {{ printf "<h2 %s</h2>\n" (index $parts 0) | safeHTML }}</summary>
        {{ printf "%s\n" (index $parts 1) | safeHTML }}
    </details>
    {{ end }}
{{end}}

<!-- {{ .Content }} -->

<aside>
    {{ .TableOfContents }}
</aside>

{{ end }}

