{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>

{{ $paragraphs := split .Content "<h2 " }}

{{ range $index, $p := $paragraphs }}
    {{ $pp := trim $p " \n" }}
    {{ if (eq $index 0) }}
        {{ printf "%s\n" $pp | safeHTML }}
    {{ end }}
    {{ if and (ne $pp "") (gt $index 0) }}
    <details class="expand">
        {{ $parts := split $pp "</h2>"}}
        <summary class="ripple"><span></span>
        {{ printf "<h2 %s</h2>\n" (index $parts 0) | safeHTML }}</summary>
        <div class="highlight">
            {{ $subparagraphs := split (index $parts 1) "<h3 " }}
            {{ range $subindex, $subp := $subparagraphs }}
                {{ $subpp := trim $subp " \n" }}
                {{ if (eq $subindex 0) }}
                    <div class="preamble">
                    {{ printf "%s\n" $subpp | safeHTML }}
                    </div>
                {{ end }}
                {{ if and (ne $subpp "") (gt $subindex 0) }}
                    {{ $subparts := split $subpp "</h3>"}}
                    <details class="expand">
                        <summary class="ripple"><span></span>
                        {{ printf "<h3 %s</h3>\n" (index $subparts 0) | safeHTML }}</summary>
                        <div class="highlight">
                            {{ printf "%s\n" (index $subparts 1) | safeHTML }}
                        </div>
                    </details>
                {{ end }}
            {{ end }}
        </div>
    </details>
    {{ end }}
{{end}}

<!-- {{ .Content }} -->

<aside>
    {{ .TableOfContents }}
</aside>

<script>
const openDetailsIfAnchorHidden = evt => {
  const targetDIV = document.querySelector(evt.target.getAttribute("href"));
  console.log(evt.target.getAttribute("href"))
  var closestDetails = targetDIV.closest("details");
  if (closestDetails.parentNode.parentNode.tagName.toLowerCase() == "details") {
    console.log(closestDetails);
    closestDetails.parentNode.parentNode.open = true;
  }
  closestDetails.open = true;
  if ( !! targetDIV.offsetHeight || targetDIV.getClientRects().length ) return;
  const topPos = targetDIV.getBoundingClientRect().top + window.pageYOffset;
  console.log(topPos);
  window.scrollTo({
    top: topPos,
    behavior: 'smooth'
  });
}

document.querySelectorAll("#TableOfContents a").forEach(
   el => el.addEventListener("click", openDetailsIfAnchorHidden )
);

</script>

{{ end }}

